/**
 * Patrick
 */

/**
 * Navigationen
 */

.e__navigation-vertical,
.e__navigation-vertical-element {
    margin: 0;
    padding: 0;
}

.e__navigation-vertical {
    list-style: none;
}

.e__navigation-vertical-element {
    text-align: center;
}

.e__navigation-vertical-element > a {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    line-height: 2.5;
    text-decoration: none;
    color: #333;
    position: relative
}

.e__navigation-vertical-element > a:hover,
.e__navigation-vertical-element > a:focus {
    outline: 0;
    cursor: pointer;
}

.e__navigation-vertical-element > a.active,
.e__navigation-vertical-element > a:hover {
    font-weight: 400;
}

.e__navigation-vertical-element > a.active::after,
.e__navigation-vertical-element > a:hover::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background: #4d4d4d;
}

/** /Navigationen **/

/** Infobox - Patrick **/
.e__infobox {
    padding:15px;
    background-color: #337ab7;
    font-size:0.9rem;
    font-weight:400;
    margin: 10px;
    color:#fff;

}
/** /Infobox - Patrick **/
/**
 * Liste - BIG
 * Fuer RecentRoute
 */

.e__list-big,
.e__list-big * {
    -webkit-transform: translate3d(0, 0, 0);
}

.e__list-big,
.e__list-big-element {
    margin: 0;
    padding: 0;
}

.e__list-big {
    list-style: none;
}

.e__list-big-element {
    display: block;
    position: relative;
    border-bottom: 1px solid #c0c0c0;
    overflow: hidden;
    transition: height .4s ease-out;
}

.e__list-big-element:last-of-type {
    border-bottom: 0;
}

.e__list-big-element-frontside {
    min-height: 50px;
    float: left;
    width: 100%;
    position: relative;
    color: #fafcfe;
}

.e__list-big-element-backside {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.e__list-big-element.is__backside .e__list-big-element-frontside {
    margin-left: -100%;
    transition: margin-left 2s ease-in-out;
}

.e__list-big-element.is__backside .e__list-big-element-backside {
    z-index: 1;
}

.e__list-big-element:not(.is__expanded) .when__expanded__show,
.e__list-big-element.is__expanded .when__expanded__hidden {
    display: none;
}

.e__list-big-element-frontside-head,
.e__list-big-element-frontside-body,
.e__list-big-element-frontside-footer {
    float: left;
    width: 100%;
}

.e__list-big-element-frontside-head,
.e__list-big-element-frontside-footer {
    padding: 10px;
}

.e__list-big-element-frontside-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Liste Backside */

.e__list-big-element.is__backside {
    height:120px;
}
.e__list-big-element-backside {
    background: #eee;
}

.e__list-big-element-backside-content {
    margin-top: 20px;
    margin-bottom:20px;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 600;
    color: #ABABAB;
    height: 80px;
}

.e__list-big-element-backside-content .i-f__reload2:before {
    font-weight: bold;
}

/* /Liste Backside */

/* Liste Switchside */

.e__list-big-element-switchside {
    display: none;
}

.e__list-big-element.is__switchside .e__list-big-element-frontside,
.e__list-big-element.is__switchside .e__list-big-element-backside {
    display: none;
}

.e__list-big-element.is__switchside .e__list-big-element-switchside {
    display: block;
}

/* /Liste Switchside */

/** /Liste - BIG **/

/**
 * Liste - SMALL
 * fuer Myroutes 
 */

.e__list-small {
    margin: 0 10px;
    border: 1px solid #c0c0c0;
}

.e__list-small,
.e__list-small-element {
    padding: 0;
    list-style-type: none;
}

.e__list-small-element {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #c0c0c0;
}

.e__list-small-element:last-of-type {
    border-bottom: 0;
}

.e__list-small-element-icon {
    background: url('../images/icon_route.svg') no-repeat #f5f5f5 center;
    background-size: 68%;
    width: 60px;
    height: 100%;
    float: left;
}

.e__list-small-element-content {
    height: 100%;
    float: left;
    padding: 3px;
}

.e__list-small-element-options {
    float: right;
    height: 100%;
    width: 60px;
}

.e__list-small-element-head {
    font-size: 1rem;
    font-weight: 700;
}

.e__list-small-element-body > p {
    color: #a6a6a6;
    font-size: 0.6rem;
    font-weight: 200;
    padding: 3px 0px;
    margin: 0;
}

/** /Liste - SMALL **/

/** Barcard **/

.e__barcard {
    background: #452e2e;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.e__barcard-head,
.e__barcard-body,
.e__barcard-footer {
    float: left;
    width: 100%;
}

.e__barcard-head,
.e__barcard-footer {
    padding: 10px;
}

.e__barcard-footer {
    padding: 10px;
}

.e__barcard-head h3 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    display: inline-block;
}

.e__barcard-head .i__close {
    top: 3px;
    margin-right: 10px;
}

.e__barcard-head .timeslot {
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.e__barcard-body {
    padding: 0px 10px 0px 20px;
    font-size: 0.8rem;
    line-height: 1.4;
}

.e__barcard-body h4 {
    font-size: 0.84rem;
    font-weight: 600;
    margin: 0 0 10px;
}

.e__barcard-body h4:not(:first-of-type) {
    margin-top: 20px;
}

.e__barcard-body strong {
    font-weight: 500;
}

.e__barcard-body .e__barcard-body-map {
    width: 100%;
    height: 100px;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-bottom: 5px;
}

.e__barcard-body .e__barcard-body-btn-melden {
    margin-top: 20px;
}

.e__barcard-small .e__barcard-head {
    padding: 2px 10px;
}

.e__barcard-small .e__barcard-body {
    max-height: 70px;
    overflow-y: hidden;
    position: relative;
    z-index: 98;
}

.e__barcard-small .e__barcard-body .e__quote {
    margin: 5px 0;
}

/** /Barcard **/

/** Slider **/

.e__slider {
    position: relative;
    height: 210px;
    background: #f2f2f2;
}

.e__slider-stage,
.e__slider-stage-element {
    margin: 0;
    padding: 0;
    list-style: none;
}

.e__slider-stage {
    /* Default Wert */
    width: 1000%;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    padding-top: 30px;
    padding-right: 5px;
    padding-bottom: 30px;
    padding-left: 5px;
}

.e__slider-stage-element {
    margin: 0 5px 0 5px;
    float: left;
    box-shadow: 0px 5px 16px 2px #666;
    max-height: 155px;
    width: 85vw;
}

.e__slider-stage-element .e__barcard {
    padding-top: 10px;
}

.e__slider-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.e__slider-background-text {
    font-weight: 500;
    font-size: 1rem;
}

.e__slider-background-footer {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    font-style: italic;
}

/** /Slider **/

/**
 * Andere Styles
 */

/* Zitat */

.e__quote {
    font-style: italic;
    font-weight: 100;
    line-height: 1.2;
}

/* Button, inspired by Bootstrap */

.e__btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    max-height: 100%;
    max-width: 100%;
}

.e__btn:focus,
.e__btn:active:focus,
.e__btn.active:focus,
.e__btn.focus,
.e__btn:active.focus,
.e__btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.e__btn:hover,
.e__btn:focus,
.e__btn.focus {
    color: #333;
    text-decoration: none;
}

.e__btn:active,
.e__btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.e__btn.e__btn-danger {
    background: #e61c1c;
}

/* Table, inspired by Bootstrap */

.e__table {
    border-spacing: 0;
    border-collapse: collapse;
}

.e__table th {
    text-align: left;
}

.e__table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.e__table > thead > tr > th,
.e__table > tbody > tr > th,
.e__table > tfoot > tr > th,
.e__table > thead > tr > td,
.e__table > tbody > tr > td,
.e__table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.e__table > thead > tr > th {
    vertical-align: bottom;
}

.e__table > caption + thead > tr:first-child > th,
.e__table > colgroup + thead > tr:first-child > th,
.e__table > thead:first-child > tr:first-child > th,
.e__table > caption + thead > tr:first-child > td,
.e__table > colgroup + thead > tr:first-child > td,
.e__table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.e__table col[class*="col-"] {
    position: static;
    display: table-column;
}

.e__table td[class*="col-"],
.e__table th[class*="col-"] {
    position: static;
    display: table-column;
}

/**
 * Rating wie Sterne und Preis in der Barcard
 */

.e__rating {
    height: 25px;
}

.e__rating [class^="i__euro"],
.e__rating [class^="i__star"] {
    margin: 5px 2px;
}

.e__rating-description {
    margin: 0 5px;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 25px;
    display: inline-block;
    height: 100%;
    float: right;
}

/**
 * Icons
 */

.i__close {
    width: 20px;
    height: 20px;
    background: #e61c1c;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.i__close::before {
    width: 11px;
    height: 2px;
    top: 9px;
    left: 4px;
    background: #fff;
    content: ' ';
    position: absolute;
}

.i__euro,
.i__euro-halfcolored,
.i__euro-colored {
    width: 15px;
    height: 15px;
    background: #fff;
    display: inline-block;
    margin: 0 2px;
    position: relative;
    overflow: hidden;
    border-radius: 20%;
}

.i__euro::after,
.i__euro-colored::after,
.i__euro-halfcolored::after {
    position: absolute;
    content: '€';
    color: #ccc;
    font-size: 0.7rem;
    font-weight: 300;
    text-align: center;
    width: 100%;
    line-height: 1.5;
}

.i__euro-colored::after,
.i__euro-halfcolored::after {
    color: #fff;
}

.i__euro-colored::before,
.i__euro-halfcolored::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #1e7111;
}

.i__euro-halfcolored::before {
    width: 60%;
}

.i__star,
.i__star-halfcolored,
.i__star-colored {
    width: 15px;
    height: 15px;
    background: #fff;
    display: inline-block;
    margin: 0 2px;
    position: relative;
    overflow: hidden;
    border-radius: 20%;
    text-align: left;
}

.i__star::after,
.i__star-colored::after,
.i__star-halfcolored::after {
    position: absolute;
    content: '\2605';
    color: #ccc;
    font-size: 0.7rem;
    line-height: 1.4;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.i__star-colored::after,
.i__star-halfcolored::after {
    color: #fff;
}

.i__star-colored::before,
.i__star-halfcolored::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ddbf5d;
}

.i__star-halfcolored::before {
    width: 60%;
}

.i__hamburger {
    padding: 18px 21px 18px 15px;
}

.i__hamburger > .icon-bar {
    background-color: #ABABAB;
    display: block;
    width: 31px;
    height: 3px;
    border-radius: 1px;
    transition: all .4s ease-out;
}

.i__hamburger > .icon-bar:nth-of-type(2) {
    margin: 4px 0px;
}

.i__hamburger.is__arrow > .icon-bar:nth-last-of-type(2) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.i__hamburger.is__arrow > .icon-bar:first-of-type,
.i__hamburger.is__arrow > .icon-bar:last-of-type {
    width: 20px;
    margin-left: -2px;
}
.i__hamburger.is__arrow > .icon-bar:first-of-type {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
    margin-bottom: -1px;
}
.i__hamburger.is__arrow > .icon-bar:last-of-type {
    -webkit-transform: rotate(220deg);
    transform: rotate(220deg);
    margin-top: -1px;
}

/** Icons mit Iconfont **/

/**
 * Logo: e600
 * Delete: e601
 * Download: e602
 * Maps: e603
 * Option: e604
 * Reload: e605
 * Reload2: e606
 * Star: e607
 * Impressum: e608
 */

[class*="i-f__"] {
    font-family: 'gohappy';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-f__gohappylogo:before {
    content: "\e600";
    font-size: 2rem;
    line-height: 1.9;
    color: #4d4d4d;
}

.i-f__trash:before {
    content: "\e601";
    font-size: 1.3rem;
    line-height: 2;
    color: #646363;
}

.i-f__reload:before {
    content: "\e605";
    font-size: 1.4rem;
    line-height: 2;
    color: #ABABAB;
}

.i-f__reload2:before {
    content: "\e606";
    font-size: 1.4rem;
    line-height: 2;
    color: #ABABAB;
}

.i-f__maps:before {
    content: "\e603";
    font-size: 1.4rem;
    line-height: 2;
    color: #ABABAB;
}

.i-f__star:before {
    content: "\e607";
    font-size: 1rem;
    line-height: 1;
    color: #c0c0c0;
}

.i-f__download:before {
    content: "\e602";
    font-size: 1rem;
    line-height: 1;
    color: #c0c0c0;
}

.i-f__options:before {
    content: "\e604";
    font-size: 1.4rem;
    line-height: 2;
    color: #c0c0c0;
}

.i-f__impressum:before {
    content: "\e608";
    font-size: 1rem;
    line-height: 1;
    color: #c0c0c0;
}

.i-f-label {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1;
    margin-left: 10px;
    color: #fff;
}
/** Icons mit Image **/

[class*="i-i_"] {
    display: inline-block;
    height: 55px;
    width: 100%;
    background-size: 21px;
    background-position: center;
    background-repeat: no-repeat;
}

/*** Impressum - Simon ***/

.e__fullscreen {
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: -1000%;
    z-index:9999;
}

.e__fullscreen-header {
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 1px 15px #afafaf;
    height: 50px;
    position: absolute;
    top:0;
}

.e__fullscreen-header h1 {
    display: inline;
}

.e__fullscreen-header a {
    float: right;
}

.e__fullscreen-content {
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.e__fullscreen.is__open {
    top: 0;
    bottom:0;
}

.e__fullscreen h1 {
    font-size: 1.1rem;
    font-weight: 500;
}

/*** /Impressum - Simon ***/

/*** Overlay - Simon ***/
.e__overlay {
    background: rgba(40, 41, 41, .8);
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    top: -100%;
    display: none;
}

.e__overlay.is__open {
    top: 0;
    display: block;
}

.e__overlay-stage {
    position: absolute;
    margin: 0px auto;
    top: 45%;
    width: 100%;
    text-align: center;
    display: inline;
}

.e__overlay-stage h1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    display: inline;
}

/*** /Overlay - Simon ***/

/*** Overlay-window - Simon ***/

.e__overlay-window {
    box-shadow: -1px 0px 15px #000;
    width: 280px;
    background: #fff;
    min-height: 150px;
    margin: 0px auto;
    top: 0;
    position: relative;
}

.e__overlay.is__open .e__overlay-window {
    top: 40%;
    transition: top 1s ease-out;
}

.e__overlay-window input {
    width: 100%;
}

.e__overlay-window textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.e__overlay-window-button {
    width: 100%;
    border-top: 1px solid #c0c0c0;
    height: 53px;
    padding-top: 5px;
}

.e__overlay-window-button > .inactive {
    color: #cccccc;
    pointer-events: none;
    cursor: default;
}

.e__overlay-window-content {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    line-height: 20px;
    min-height: 97px;
}

.e__overlay-window-content > .error {
}

.e__overlay-window-content > .error::before {
    content: url('../images/error.png');
    position: relative;
    margin-right: 5px;
    top: 2px;
}

.e__overlay-window-content > .notification {
}

.e__overlay-window-content > .notification::before {
    content: url('../images/notification.png');
    position: relative;
    margin-right: 5px;
    top: 2px;
}

.e__overlay-window-content h1 {
    font-size: 1.1rem;
    font-weight: 500;
}

.e__overlay-window-content p {
    font-size: 0.9rem;
}
/*** /Overlay-window - Simon ***/
/*** Spinner - Simon ***/
.e__spinner {
    display: inline;
}

.e__spinner > div {
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin: 0px auto;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.e__spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.e__spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*** /Spinner - Simon ***/
