/**
 * Patrick
 */


/** Navigationen **/
.e__navigation-vertical,
.e__navigation-vertical-element {
    margin:0;
    padding:0;
}
.e__navigation-vertical {
    list-style: none;
}
.e__navigation-vertical-element {
    text-align: center;
}
.e__navigation-vertical-element > a {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    line-height: 2.5;
    text-decoration: none;
    color:#333;
}
.e__navigation-vertical-element > a:hover,
.e__navigation-vertical-element > a:focus {
    outline:0;
    cursor:pointer;
    background:#ccc;
}

.e__list-big,
.e__list-big-element {
    margin:0;
    padding:0;
}
.e__list-big {
    list-style: none;
}
.e__list-big-element {
    display: block;
    background:#1ea1eb;
    position:relative;
}
.e__list-big-element-frontside {
    min-height: 50px;
}
.e__list-big-element-backside {
    z-index:-1;
    position:absolute;
    height:100%;
    width: 100%;
    top:0;
    left:0;
}


/** My Routes  **/
.e__list-small {
    margin: 0 10px;
    border: 1px solid #c0c0c0;
}
.e__list-small,
.e__list-small-element {
    padding:0;   
    list-style-type: none;
}
.e__list-small-element {
    height:60px;
    background: #fff;
    border-bottom:1px solid #c0c0c0;
}
.e__list-small-element:last-of-type {
    border-bottom: 0;
}
.e__list-small-element-icon {
    background:url('../images/icon_route.png') no-repeat #f5f5f5 center;
    background-size: 68%;
    width: 60px;
    height: 100%;
    float: left;
}
.e__list-small-element-content {
    height:100%;
    float:left;
    padding:3px;
}
.e__list-small-element-options {
    float:  right;
    height: 100%;
    width:  60px;
}
.e__list-small-element-head {
    font-size:1rem;
    font-weight: 700;
}
.e__list-small-element-body > p {
    color: #a6a6a6;
    font-size: 0.6rem;
    font-weight: 200;
    padding: 3px 0px;
    margin:0;
}
/** /My Routes **/


.e__btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.e__btn:focus,
.e__btn:active:focus,
.e__btn.active:focus,
.e__btn.focus,
.e__btn:active.focus,
.e__btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.e__btn:hover,
.e__btn:focus,
.e__btn.focus {
  color: #333;
  text-decoration: none;
}
.e__btn:active,
.e__btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}


/** Icons **/

.i__hamburger {
    padding: 18px 21px 18px 15px;
}
.i__hamburger >.icon-bar {
    background-color: #c0c0c0;
    display: block;
    width: 31px;
    height: 3px;
    border-radius: 1px;
    transition: all .4s ease-out;
}
.i__hamburger >.icon-bar:nth-of-type(2) {
    margin:4px 0px;
}

/* Icons with Font */
[class*="i-f__"] {
    font-family: 'gohappy';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-f__gohappylogo:before {
    content: "\e600";
    font-size: 2rem;
    line-height: 1.9;
    color:#aaa;
}


[class*="i__"] { 
    display:inline-block;
    height:55px;
    width:100%;
    background-size: 21px;
    background-position: center;
    background-repeat: no-repeat;
}
.i__trash:active,
.i__trash.active,
.i__trash {
     background-image: url('../images/icon_delete.svg');
}

.i__reload:active,
.i__reload.active,
.i__reload {
    background-image: url('../images/icon_reload.svg');
}
.i__maps:active,
.i__maps.active,
.i__maps {
    background-image: url('../images/icon_maps.svg');
}