body {
    width:100%;
    height:100%;
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    #background: #ccc;
}
h1 {
    font-size: 30px,
}
h2 {
    font-size: 24px;
    font-weight: bold;
	margin-top: 0px;
}

h3 {
    font-size: 15px;
}

a { 
	color: inherit; 
	text-decoration: none;

} 

#checked {
	color: #292828;
}

#unchecked{
	color: #757574;
}
#main {
    width:100%;
}
#sidebar {
    position: absolute;
    z-index: -1;
    width: 70%;
}
#theatre {
    background: #fff;
    width: 100%;
    float: left;
    transition: all 2s ease-in-out;
    #transform: translate3d(70%, 0px, 0);
}
#theatre-head {
    position: sticky;
	height: 190px;
}

#theatre-head-topbar {
	height: 120px;
	background: #f2f2f2;
	box-shadow: 0px 1px 15px #afafaf;
}
#theatre-head-subbar {
	height: 70px;
	background: #f2f2f2;
	box-shadow: 0px 1px 1px #afafaf;
}