* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width:100%;
    height:100%;
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size:62.5%;
}
h1,
h2,
h3 {
    margin:0;
    padding:0;
}

#main {
    width:100%;
}
#sidebar {
    position: absolute;
    z-index: -1;
    width: 70%;
    background:#1ea1eb;
}
#theatre {
    background: #fff;
    width: 100%;
    float: left;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
#theatre,
#theatre-head {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
/**
 * Sidebar open if checkbox is set
 */
#is__sidebar-open[type=checkbox]:checked + #main > #theatre,
#is__sidebar-open[type=checkbox]:checked + #main > #theatre-head {
    -webkit-transform: translate3d(70%, 0px, 0);
    transform: translate3d(70%, 0px, 0);
}


#theatre-head {
    position: fixed;
    z-index:99;
}

#theatre-head-topbar {
    height: 65px;
    padding-top: 5px;
	background: #f2f2f2;
	box-shadow: 0px 1px 15px #afafaf;
}
.is__ios-fullscreen #theatre-head-topbar {
    height: 80px;
    padding-top: 20px;
}
#theatre-head-topbar .i__hamburger {
    margin: 5px;
    float: left;
}
#theatre-head-subbar {
    height:40px;
	background: #f2f2f2;
	box-shadow: 0px 1px 1px #afafaf;
}
#theatre-head-topbar-title {
    font-size:1.6rem;
    font-weight: 200;
    text-align: center;
    display:block;
    line-height: 55px;
}
/* 120px + 0px */
#theatre-stage {
    padding-top:105px;
}
.is__ios-fullscreen #theatre-stage {
    padding-top: 120px;
}

@import "_patrick.cssy";
@import "_jennifer.css";
@import "_sebastian.css";
@import "_simon.css";