<div id="overlay-loader" class="e__overlay" ng-class="{is__open: showLoading}">
    <div class="e__overlay-stage">
        <div class="e__spinner">
            <h1>Laden </h1>

            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>

<div class="e__overlay" ng-class="{is__open: noBarPopupOpen}">
    <div class="e__overlay-window">
        <div class="e__overlay-window-content">
            <h1 class="error">Keine Bars gefunden!</h1>
            <p>Es konnten keine Bars zu den angegebenen Parametern gefunden werden.</p>
        </div>
        <div class="e__overlay-window-button">
            <div class="e__btn col-12" ng-click="noBarPopupOpen = false">Ok</div>
        </div>
    </div>
</div>

<div id="startscreen">
    <img ng-click="buttonClicked()" id="startscreen-icon" src="images/GoHappyButton5.png"/>
    <div id="startscreen-footer" class="align-center">
        <img src="images/thirdparty/powered_by_Foursquare.png"/>
    </div>
</div>