/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.angular-google-map-container {
  height: 400px;
}

.map-canvas { height: 400px; width:100%;}

#slider {
  width:100vw;
  overflow:hidden;
}

#slider ul {
  position:relative;
  transition:0.3s linear left;
  list-style:none;
  width:300vw;
}

#slider li {
  float:left;
  width:100vw;
}