<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go Happy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="apple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-ipad-retina.png">

    <!-- iPhone (Retina) -->
    <link rel="apple-touch-startup-image"  href="apple-touch-startup-image-640x960.png">

    <!--Android-->
    <link rel="shortcut icon" href="touch-icon-196x196.png" sizes="196x196">

    <!-- Place favicon.ico in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/helper.css">
    <link rel="stylesheet" href="css/elements.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/_simon.css">
	
	<link rel="stylesheet" href="css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="css/ion.rangeSlider.skinHTML5.css" id="skinCss" />
	<script src="js/vendor/jquery-1.11.1.min.js"></script>
	<script src="js/ion-rangeSlider/ion.rangeSlider.min.js"></script>

	  
</head>

<body>
<input type="checkbox" id="is__sidebar-open" class="hidden" aria-hidden="true"/>
<div id="main" class="clearfix">
    <aside id="sidebar">
		<div id="sidebar-head-topbar">
			<div class="sidebar-head-topbar-box">
				<div class="i__options"><img src="images/icon_option.png" width="19px" height="21px"></div>
				<h1 id="sidebar-head-topbar-title">Optionen</h1>
			</div>
		</div>
		
		<div id="sidebar-theatre">
			<div class="sidebar-theatre-box">
			
					<h3>Ort / Plz</h3>
					<input type="form" />
			</div>
			<div class="sidebar-theatre-box">
					<h3>Tag</h3><br>
					<div class="col-1"><h4>&lt;</h4></div>
					<div class="col-10" style="text-align:center;"><h4 style="color: #fff">Montag</h4></div>
					<div class="1" style="text-align:right;"><h4>&gt;</h4></div>
			</div>
			<div class="sidebar-theatre-box">
					<h3>Radius</h3>
					<input id="radius"/>
					<script>
                                    $(document).ready(function () {
                                        $("#radius").ionRangeSlider({
						grid: false,
						min: 0.1,
						max: 10,
						step: 0.1,
						from: 1,
						hide_min_max: true
					});
                                    });
                    </script>
			</div>
			<div class="sidebar-theatre-box">
					<h3>Uhrzeit</h3>
					<input id="time"/>
					<script>
					$("#time").ionRangeSlider({
						type: "double",
						grid: false,
						values: ["12:00", "13:00", "14:00", "15:00", "16:00", "17:00",
						"18:00","19:00","20:00","21:00","22:00","23:00","24:00",
						"01:00","02:00","03:00","04:00","05:00","06:00","07:00",
						"08:00","09:00","10:00","11:00","12:00"],
						from: 8,
						to: 15,
						hide_min_max: true
					});
					</script>
			</div>
			<div class="sidebar-theatre-box">
					<h3>Verweilzeit</h3>
					<input id="resttime"/>
					<script>
                    $(document).ready(function () {
                        $("#resttime").ionRangeSlider({
						grid: false,
						min: 0,
						max: 6,
						step: 0.5,
						from: 1,
						hide_min_max: true
					});
                                    });
                    </script>
			</div>
			<div class="seperator"></div>
			<div class="sidebar-theatre-box">
					<img src="images/icon_star.png" width="20px" height="19px"><h3>Sharen</h3>
			</div>
			<div class="seperator"></div>
			<div class="sidebar-theatre-box">
					<img src="images/icon_download.png" width="17px" height="17px"><h3>Offline speichern</h3>
			</div>
			<div class="seperator"></div>
		</div>
	</aside>
    <div id="theatre-head" class="grid">
        <div id="theatre-head-topbar" class="grid">
            <div class="col-1">
                <label for="is__sidebar-open" class="i__hamburger">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </label>
            </div>
            <div class="col-2"></div>
            <div class="col-6">
                <h1 id="theatre-head-topbar-title">Go Happy</h1>
            </div>
            <div class="col-3">
                <a href="#refresh" class="i-refresh"></a>
                <a href="#map" class="i-map"></a>
            </div>
        </div>
        <nav id="theatre-head-subbar" class="col-12">
            <ul class="e__navigation-vertical clearfix">
                <li class="e__navigation-vertical-element col-4"><a href="#refresh">Aktuelle Route</a></li>
                <li class="e__navigation-vertical-element col-4"><a href="#refresh">Top 7</a></li>
                <li class="e__navigation-vertical-element col-4"><a href="#refresh">Offline Routen</a></li>
            </ul>
        </nav>
    </div>
    <div id="theatre" style="background-image: url(images/myroutes_background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	">
        <section id="theatre-stage" class="grid">
			<div style="width: 100%; padding-left:10px;padding-right:10px;">
			<div id="theatre-stage-myroutes" >
				<div class="theatre-stage-myroutes-box">
					<div class="theatre-stage-myroutes-box-icon">
						<img src="images/icon_route.png" width="80%" height="80%">
					</div>
					<div class="theatre-stage-myroutes-box-content">
						<h4><b>Erstsemester Tour</b></h4><br />
						<p>Gespeichert am 05.08.2014 - 16:03<br/>
						Tour geplant f&uuml;r Montag</p>
					</div>
					<div class="theatre-stage-myroutes-box-delete">
						<img src="images/icon_delete.png" width="15px" height="20px">
					</div>
				</div>
				<div class="theatre-stage-myroutes-box-seperator"></div>
				<div class="theatre-stage-myroutes-box">
					<div class="theatre-stage-myroutes-box-icon">
						<img src="images/icon_route.png" width="80%" height="80%">
					</div>
					<div class="theatre-stage-myroutes-box-content">
						<h4><b>Erstsemester Tour</b></h4><br />
						<p>Gespeichert am 05.08.2014 - 16:03<br/>
						Tour geplant f&uuml;r Montag</p>
					</div>
					<div class="theatre-stage-myroutes-box-delete">
						<img src="images/icon_delete.png" width="15px" height="20px">
					</div>
				</div>
			</div>
			</div>
        </section>
    </div>
</div>
<script src="js/main.js"></script>
</body>

</html>