<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go Happy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="apple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-ipad-retina.png">

    <!-- iPhone (Retina) -->
    <link rel="apple-touch-startup-image"  href="apple-touch-startup-image-640x960.png">

    <!--Android-->
    <link rel="shortcut icon" href="apple-touch-icon-196x196.png" sizes="196x196">
    
    <!--Windows Phone-->
    <meta name="msapplication-TileImage" content="apple-touch-icon-tile.png">
    <meta name="msapplication-TileColor" content="#3f51b5">

    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" href="favicon.ico" type="image/x-ico" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,100italic,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/fonts.css?v=0.1">
    <link rel="stylesheet" href="css/normalize.css?v=0.1">
    <link rel="stylesheet" href="css/grid.css?v=0.1">
    <link rel="stylesheet" href="css/helper.css?v=0.1">
    <link rel="stylesheet" href="css/elements.css?v=0.1">
	<link rel="stylesheet" href="lib/ion-rangeslider/css/ion.rangeslider.css">
	<link rel="stylesheet" href="lib/ion-rangeslider/css/ion.rangeslider.skinhtml5.css">
    <link rel="stylesheet" href="css/style.css?v=0.1">
</head>

<body>
<!-- Oeffnen mit .is__open -->
<div id="e__popup-overlay">
	<div class="e__popup-window">
		<div class="e__popup-window-content">
			<h1>Route entfernen</h1>
			<p>Wollen sie die Route wirklich entfernen?</p>
		</div>
		<div class="e__popup-window-button">
			<div class="e__btn col-6">Abbrechen</div>
			<div class="e__btn col-6">Entfernen</div>
		</div>
	</div>
</div>
<input type="checkbox" id="is__sidebar-open" class="hidden" aria-hidden="true"/>
    <div id="main" class="clearfix">
        <aside id="sidebar">
		<div id="sidebar-head-topbar">
			<div class="sidebar-head-topbar-box">
				<span class="i-f__options"></span>
				<h1 id="sidebar-head-topbar-title">Optionen</h1>
			</div>
		</div>
		
		<div id="sidebar-theatre">
			<div class="sidebar-theatre-box">
					<h3>Ort / Plz</h3><br />
					<div class="col-11">
						<input type="form" />
					</div>
					<div class="col-1 align-right">
						<a href="#map" class="e__btn i-f__maps" style="margin-top:-15px;"></a>
					</div>
			</div>
			<div class="sidebar-theatre-box">
					<br /><h3>Tag</h3><br />
					<div class="col-1"><h4>&lt;</h4></div>
					<div class="col-10" style="text-align:center;">
						<h4 style="color: #fff">Montag</h4>
					</div>
					<div class="col-1" style="text-align:right;"><h4>&gt;</h4></div>
			</div>
			<div class="sidebar-theatre-box">
					<br /><br /><h3>Radius (km)</h3>
					<input id="radius"/>
			</div>
			<div class="sidebar-theatre-box">
					<h3>Uhrzeit (h)</h3>
					<input id="time"/>
			</div>
			<div class="sidebar-theatre-box">
					<h3>Verweilzeit (h)</h3>
					<input id="resttime"/>
			</div>
			<div class="seperator"></div>
			<div class="sidebar-theatre-box">
					<span class="i-f__star"></span><h3>Sharen</h3>
			</div>
			<div class="seperator"></div>
			<div class="sidebar-theatre-box">
				<span class="i-f__download"></span><h3>Offline speichern</h3>
			</div>
			<div class="seperator"></div>
			<div class="sidebar-theatre-box">
				<span class="i-f__impressum"></span><h3>Impressum</h3>
			</div>
			<div class="seperator"></div>
		</div>
	</aside>
        <div id="theatre-head" class="grid">
            <div id="theatre-head-topbar" class="grid">
                <div class="col-3 col-xs-2_5">
                    <label for="is__sidebar-open" class="i__hamburger e__btn">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </label>
                </div>
                <div class="col-6">
                    <h1 id="theatre-head-topbar-title" class="i-f__gohappylogo"></h1>
                </div>
				<div class="col-0_5 col-xs-0"></div>
                <div id="theatre-head-topbar-icons" class="col-3 col-xs-3_5 align-center">
                    <div class="col-6">
                        <a href="#refresh" class="e__btn i-f__reload"></a>
                    </div>
                    <div class="col-6">
                        <a href="#map" class="e__btn i-f__maps"></a>
                    </div>
                </div>
            </div>
            <nav id="theatre-head-subbar" class="col-12">
                <ul class="e__navigation-vertical clearfix">
                    <li class="e__navigation-vertical-element col-5"><a href="#refresh">Aktuelle Route</a></li>
                    <li class="e__navigation-vertical-element col-2"><a href="#refresh">Top 7</a></li>
                    <li class="e__navigation-vertical-element col-5"><a href="#refresh">Offline Routen</a></li>
                </ul>
            </nav>
        </div>
        <div id="theatre">
			
			<section id="theatre-recentroute" class="grid">			
                <ul class="e__list-big">
                    <li class="e__list-big-element clearfix">
                        <div class="e__list-big-element-frontside e__barcard" style="background-image: url('images/bars/1.jpg')">
                            <div class="e__list-big-element-frontside-head e__barcard-head grid">
								<div class="col-7"><a class="when__expanded__show i__close"></a><h3><span class="when__expanded__hidden">1. </span>Hascienda</h3></div>
								<span class="col-5 align-right timeslot">18:30 - 19:30</span>
							</div>
                            <div class="e__list-big-element-frontside-body e__barcard-body clearfix">
                                <div class="e__list-big-element-frontside-body-main">
									<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
Erleben Sie die richtige Mischung aus vielfältigen
										mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
								</div>
                                <div class="e__list-big-element-frontside-body-expand grid when__expanded__show">
									<div class="col-8">
									<h4>Öffnungszeigen</h4>
									<table class="e__table grid">
										<tbody>
										<tr>
											<td class="col-5">Montag bis Freitag</td>
											<td  class="col-7">ab 09:00 Uhr</td>
										</tr>
										<tr>
											<td class="col-5">Samstag und Sonntag</td>
											<td class="col-7">ab 12:00 Uhr</td>
										</tr>
										</tbody>
									</table>
									<h4>Happy Hour</h4>
										<div class="padding-default">
									Jeden Tag 00:00 - 24:00<br>
									<strong>alle Cocktails für 4,99€</strong>
										</div>
								</div>
									<div class="col-4">
										<div class="map" style="background:url('images/_dummy_map.png')">
										</div>
									</div>
								</div>
                            </div>
                            <div class="e__list-big-element-frontside-footer e__barcard-footer">
								<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
								<span class="col-2"></span>
								<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
							</div>
                        </div>
                        <div class="e__list-big-element-backside grid">
							<div class="col-12 align-center e__list-big-element-backside-content">
								<span class="i-f__reload2"></span>
								<p class="icon-undertitle">Bar austauschen</p>
							</div>
                        </div>
						<div class="e__list-big-element-switchside">
							<div class="e__slider grid">
								<div class="e__slider-background padding-default">
									<div class="col-7"></div>
									<span class="col-5 align-right e__slider-background-text">18:30 - 19:30</span>

									<span class="e__slider-background-footer align-center">Wählen Sie eine alternative Bar aus</span>
								</div>
								<ul class="e__slider-stage" style="width:200%;left:0%;">
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Hascienda</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Mauritius</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
                    </li>
                    <li class="e__list-big-element clearfix">
                        <div class="e__list-big-element-frontside e__barcard" style="background-image: url('images/bars/1.jpg')">
                            <div class="e__list-big-element-frontside-head e__barcard-head grid">
								<div class="col-7"><a class="when__expanded__show i__close"></a><h3><span class="when__expanded__hidden">2. </span>Sausalitos</h3></div>
								<span class="col-5 align-right timeslot">18:30 - 19:30</span>
							</div>
                            <div class="e__list-big-element-frontside-body e__barcard-body clearfix">
                                <div class="e__list-big-element-frontside-body-main">
									<p class="e__quote">„Genieße den Moment, wenn an der Bar Cocktail mixen zu Kunst wird oder unsere Köche in der offenen Küche das Fleisch vor deinen Augen braten, mexikanisches Essen mit kalifornischem Einfluss sowie Specials aus aller Welt zaubern.“</p>
								</div>
                                <div class="e__list-big-element-frontside-body-expand grid when__expanded__show">
									<div class="col-8">
									<h4>Öffnungszeigen</h4>
									<table class="e__table grid">
										<tbody>
										<tr>
											<td class="col-5">Montag bis Freitag</td>
											<td  class="col-7">ab 09:00 Uhr</td>
										</tr>
										<tr>
											<td class="col-5">Samstag und Sonntag</td>
											<td class="col-7">ab 12:00 Uhr</td>
										</tr>
										</tbody>
									</table>
									<h4>Happy Hour</h4>
										<div class="padding-default">
									Jeden Tag 00:00 - 24:00<br>
									<strong>alle Cocktails für 4,99€</strong>
										</div>
								</div>
									<div class="col-4">
										<div class="map" style="background:url('images/_dummy_map.png')">
										</div>
									</div>
								</div>
                            </div>
                            <div class="e__list-big-element-frontside-footer e__barcard-footer">
								<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
								<span class="col-2"></span>
								<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
							</div>
                        </div>
                        <div class="e__list-big-element-backside grid">
							<div class="col-12 align-center e__list-big-element-backside-content">
								<span class="i-f__reload2"></span>
								<p class="icon-undertitle">Bar austauschen</p>
							</div>
                        </div>
						<div class="e__list-big-element-switchside">
							<div class="e__slider grid">
								<div class="e__slider-background padding-default">
									<div class="col-7"></div>
									<span class="col-5 align-right e__slider-background-text">18:30 - 19:30</span>

									<span class="e__slider-background-footer align-center">Wählen Sie eine alternative Bar aus</span>
								</div>
								<ul class="e__slider-stage" style="width:200%;left:0%;">
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Hascienda</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Mauritius</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
                    </li>
                    <li class="e__list-big-element clearfix">
                        <div class="e__list-big-element-frontside e__barcard" style="background-image: url('images/bars/1.jpg')">
                            <div class="e__list-big-element-frontside-head e__barcard-head grid">
								<div class="col-7"><a class="when__expanded__show i__close"></a><h3><span class="when__expanded__hidden">3. </span>Sophie's Brauhaus</h3></div>
								<span class="col-5 align-right timeslot">18:30 - 19:30</span>
							</div>
                            <div class="e__list-big-element-frontside-body e__barcard-body clearfix">
                                <div class="e__list-big-element-frontside-body-main">
									<p class="e__quote">„EINDRÜCKE UND KULTUR , eine aufnahmefreudige geistige Einstellung und die Freude am Schönen... und am Bier“</p>
								</div>
                                <div class="e__list-big-element-frontside-body-expand grid when__expanded__show">
									<div class="col-8">
									<h4>Öffnungszeigen</h4>
									<table class="e__table grid">
										<tbody>
										<tr>
											<td class="col-5">Montag bis Freitag</td>
											<td  class="col-7">ab 09:00 Uhr</td>
										</tr>
										<tr>
											<td class="col-5">Samstag und Sonntag</td>
											<td class="col-7">ab 12:00 Uhr</td>
										</tr>
										</tbody>
									</table>
									<h4>Happy Hour</h4>
										<div class="padding-default">
									Jeden Tag 00:00 - 24:00<br>
									<strong>alle Cocktails für 4,99€</strong>
										</div>
								</div>
									<div class="col-4">
										<div class="map" style="background:url('images/_dummy_map.png')">
										</div>
									</div>
								</div>
                            </div>
                            <div class="e__list-big-element-frontside-footer e__barcard-footer">
								<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
								<span class="col-2"></span>
								<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
							</div>
                        </div>
                        <div class="e__list-big-element-backside grid">
							<div class="col-12 align-center e__list-big-element-backside-content">
								<span class="i-f__reload2"></span>
								<p class="icon-undertitle">Bar austauschen</p>
							</div>
                        </div>
						<div class="e__list-big-element-switchside">
							<div class="e__slider grid">
								<div class="e__slider-background padding-default">
									<div class="col-7"></div>
									<span class="col-5 align-right e__slider-background-text">18:30 - 19:30</span>

									<span class="e__slider-background-footer align-center">Wählen Sie eine alternative Bar aus</span>
								</div>
								<ul class="e__slider-stage" style="width:200%;left:0%;">
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Hascienda</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Mauritius</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
                    </li>

                    <li class="e__list-big-element clearfix is__backside">
                        <div class="e__list-big-element-frontside e__barcard">
                            <div class="e__list-big-element-frontside-head e__barcard-head grid">
								<div class="col-7"><a class="when__expanded__show i__close"></a><h3><span class="when__expanded__hidden">1. </span>Hascienda</h3></div>
								<span class="col-5 align-right timeslot">18:30 - 19:30</span>
							</div>
                            <div class="e__list-big-element-frontside-body e__barcard-body clearfix">
                                <div class="e__list-big-element-frontside-body-main">
									<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
Erleben Sie die richtige Mischung aus vielfältigen
										mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
								</div>
                                <div class="e__list-big-element-frontside-body-expand grid when__expanded__show">
									<div class="col-8">
									<h4>Öffnungszeigen</h4>
									<table class="e__table grid">
										<tbody>
										<tr>
											<td class="col-5">Montag bis Freitag</td>
											<td  class="col-7">ab 09:00 Uhr</td>
										</tr>
										<tr>
											<td class="col-5">Samstag und Sonntag</td>
											<td class="col-7">ab 12:00 Uhr</td>
										</tr>
										</tbody>
									</table>
									<h4>Happy Hour</h4>
										<div class="padding-default">
									Jeden Tag 00:00 - 24:00<br>
									<strong>alle Cocktails für 4,99€</strong>
										</div>
								</div>
									<div class="col-4">
										<div class="map" style="background:url('images/_dummy_map.png')">
										</div>
									</div>
								</div>
                            </div>
                            <div class="e__list-big-element-frontside-footer e__barcard-footer">
								<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
								<span class="col-2"></span>
								<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
							</div>
                        </div>
                        <div class="e__list-big-element-backside grid">
							<div class="col-12 align-center e__list-big-element-backside-content">
								<span class="i-f__reload2"></span>
								<p class="icon-undertitle">Bar austauschen</p>
							</div>
                        </div>
						<div class="e__list-big-element-switchside">
							<div class="e__slider grid">
								<div class="e__slider-background padding-default">
									<div class="col-7"></div>
									<span class="col-5 align-right e__slider-background-text">18:30 - 19:30</span>

									<span class="e__slider-background-footer align-center">Wählen Sie eine alternative Bar aus.</span>
								</div>
								<ul class="e__slider-stage" style="width:200%;left:0%;">
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Hascienda</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Mauritius</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
                    </li>

                    <li class="e__list-big-element clearfix is__switchside">
                        <div class="e__list-big-element-frontside e__barcard">
                            <div class="e__list-big-element-frontside-head e__barcard-head grid">
								<div class="col-7"><a class="when__expanded__show i__close"></a><h3><span class="when__expanded__hidden">1. </span>Hascienda</h3></div>
								<span class="col-5 align-right timeslot">18:30 - 19:30</span>
							</div>
                            <div class="e__list-big-element-frontside-body e__barcard-body clearfix">
                                <div class="e__list-big-element-frontside-body-main">
									<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
Erleben Sie die richtige Mischung aus vielfältigen
										mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
								</div>
                                <div class="e__list-big-element-frontside-body-expand grid when__expanded__show">
									<div class="col-8">
									<h4>Öffnungszeigen</h4>
									<table class="e__table grid">
										<tbody>
										<tr>
											<td class="col-5">Montag bis Freitag</td>
											<td  class="col-7">ab 09:00 Uhr</td>
										</tr>
										<tr>
											<td class="col-5">Samstag und Sonntag</td>
											<td class="col-7">ab 12:00 Uhr</td>
										</tr>
										</tbody>
									</table>
									<h4>Happy Hour</h4>
										<div class="padding-default">
									Jeden Tag 00:00 - 24:00<br>
									<strong>alle Cocktails für 4,99€</strong>
										</div>
								</div>
									<div class="col-4">
										<div class="map" style="background:url('images/_dummy_map.png')">
										</div>
									</div>
								</div>
                            </div>
                            <div class="e__list-big-element-frontside-footer e__barcard-footer">
								<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
								<span class="col-2"></span>
								<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
							</div>
                        </div>
                        <div class="e__list-big-element-backside grid">
							<div class="col-12 align-center e__list-big-element-backside-content">
								<span class="i-f__reload2"></span>
								<p class="icon-undertitle">Bar austauschen</p>
							</div>
                        </div>
						<div class="e__list-big-element-switchside">
							<div class="e__slider grid">
								<div class="e__slider-background padding-default">
									<div class="col-7"></div>
									<span class="col-5 align-right e__slider-background-text">18:30 - 19:30</span>

									<span class="e__slider-background-footer align-center">Wählen Sie eine alternative Bar aus.</span>
								</div>
								<ul class="e__slider-stage" style="width:200%;left:0%;">
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard e__barcard-small clearfix" style="background-image: url('images/bars/2.jpg')">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Hascienda</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard e__barcard-small clearfix" style="background-image: url('images/bars/2.jpg')">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Hascienda</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
                    </li>

                    <li class="e__list-big-element clearfix">
                        <div class="e__list-big-element-frontside e__barcard" style="background-image: url('images/bars/1.jpg')">
                            <div class="e__list-big-element-frontside-head e__barcard-head grid">
								<div class="col-7"><a class="when__expanded__show i__close"></a><h3><span class="when__expanded__hidden">1. </span>Hascienda</h3></div>
								<span class="col-5 align-right timeslot">18:30 - 19:30</span>
							</div>
                            <div class="e__list-big-element-frontside-body e__barcard-body clearfix">
                                <div class="e__list-big-element-frontside-body-main">
									<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
Erleben Sie die richtige Mischung aus vielfältigen
										mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
								</div>
                                <div class="e__list-big-element-frontside-body-expand grid when__expanded__show">
									<div class="col-8">
									<h4>Öffnungszeigen</h4>
									<table class="e__table grid">
										<tbody>
										<tr>
											<td class="col-5">Montag bis Freitag</td>
											<td  class="col-7">ab 09:00 Uhr</td>
										</tr>
										<tr>
											<td class="col-5">Samstag und Sonntag</td>
											<td class="col-7">ab 12:00 Uhr</td>
										</tr>
										</tbody>
									</table>
									<h4>Happy Hour</h4>
										<div class="padding-default">
									Jeden Tag 00:00 - 24:00<br>
									<strong>alle Cocktails für 4,99€</strong>
										</div>
								</div>
									<div class="col-4">
										<div class="map" style="background:url('images/_dummy_map.png')">
										</div>
									</div>
								</div>
                            </div>
                            <div class="e__list-big-element-frontside-footer e__barcard-footer">
								<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
								<span class="col-2"></span>
								<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
							</div>
                        </div>
                        <div class="e__list-big-element-backside grid">
							<div class="col-12 align-center e__list-big-element-backside-content">
								<span class="i-f__reload2"></span>
								<p class="icon-undertitle">Bar austauschen</p>
							</div>
                        </div>
						<div class="e__list-big-element-switchside">
							<div class="e__slider grid">
								<div class="e__slider-background padding-default">
									<div class="col-7"></div>
									<span class="col-5 align-right e__slider-background-text">18:30 - 19:30</span>

									<span class="e__slider-background-footer align-center">Wählen Sie eine alternative Bar aus.</span>
								</div>
								<ul class="e__slider-stage" style="width:200%;left:0%;">
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Hascienda</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
									<li class="e__slider-stage-element" style="width:calc( 50% - 70px )">
										<div class="e__barcard clearfix">
											<div class="e__barcard-head grid">
												<div class="col-7">
													<h3>Mauritius</h3>
												</div>
											</div>
										<div class=" e__barcard-body clearfix">
												<p class="e__quote">„Seit 1991 der temperamentvolle Mexikaner in Stuttgart!
													Erleben Sie die richtige Mischung aus vielfältigen
													mexikanischen Gaumenfreuden und bester Unterhaltung“</p>
										</div>
										<div class="e__barcard-footer">
											<span class="col-5"><span class="i__euro-colored"></span><span class="i__euro-halfcolored"></span><span class="i__euro"></span><span class="i__euro"></span><span class="i__euro"></span></span>
											<span class="col-2"></span>
											<span class="col-5 align-right"><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-colored"></span><span class="i__star-halfcolored"></span><span class="i__star"></span></span>
										</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
                    </li>

				</ul>
			</section>
			<section id="theatre-myroutes">
				<ul class="e__list-small">
					<li class="e__list-small-element clearfix">
						<div class="e__list-small-element-icon clearfix"></div>
						<div class="e__list-small-element-content clearfix">
							<h3 class="e__list-small-element-head">Erstsemester Tour</h3>
							<div class="e__list-small-element-body">
								<p>Gespeichert am 05.08.2014 - 16:03 Uhr<br>
								Tour geplant für Montag</p>
							</div>	
						</div>
						<div class="e__list-small-element-options clearfix align-center">
							<span class="e__btn i-f__trash"></span>
						</div>
					</li>
					<li class="e__list-small-element clearfix">
						<div class="e__list-small-element-icon clearfix"></div>
						<div class="e__list-small-element-content clearfix">
							<h3 class="e__list-small-element-head">Erstsemester Tour</h3>
							<div class="e__list-small-element-body">
								<p>Gespeichert am 05.08.2014 - 16:03 Uhr<br>
								Tour geplant für Montag</p>
							</div>	
						</div>
						<div class="e__list-small-element-options clearfix align-center">
							<span class="e__btn i-f__trash"></span>
						</div>
					</li>
				</ul>	
			</section>
	
        </div>
    </div>
    <script src="lib/jquery-1.11.1.min.js"></script>
    <script src="lib/ion-rangeslider/js/ion.rangeslider.min.js"></script>
    <script src="lib/fastclick.js"></script>
    <script src="lib/inobounce.min.js"></script>
    <script type='application/javascript' src="js/main.js"></script>
    <script type='application/javascript' src="js/demo.js"></script>
    <script>
    if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
    }, false);
}
    </script>
</body>

</html>
