<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go Happy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="apple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-ipad-retina.png">

    <!-- iPhone (Retina) -->
    <link rel="apple-touch-startup-image"  href="apple-touch-startup-image-640x960.png">

    <!--Android-->
    <link rel="shortcut icon" href="touch-icon-196x196.png" sizes="196x196">

    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" href="favicon.ico" type="image/x-ico" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/helper.css">
    <link rel="stylesheet" href="css/elements.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<input type="checkbox" id="is__sidebar-open" class="hidden" aria-hidden="true"/>
    <div id="main" class="clearfix">
        <aside id="sidebar">aaa</aside>
        <div id="theatre-head" class="grid">
            <div id="theatre-head-topbar" class="grid">
                <div class="col-1">
                    <label for="is__sidebar-open" class="i__hamburger">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </label>
                </div>
                <div class="col-2"></div>
                <div class="col-6">
                    <h1 id="theatre-head-topbar-title">Go Happy</h1>
                </div>
                <div class="col-3">
                    <a href="#refresh" class="i-refresh"></a>
                    <a href="#map" class="i-map"></a>
                </div>
            </div>
            <nav id="theatre-head-subbar" class="col-12">
                <ul class="e__navigation-vertical clearfix">
                    <li class="e__navigation-vertical-element col-4"><a href="#refresh">Aktuelle Route</a></li>
                    <li class="e__navigation-vertical-element col-4"><a href="#refresh">Top 7</a></li>
                    <li class="e__navigation-vertical-element col-4"><a href="#refresh">Offline Routen</a></li>
                </ul>
            </nav>
        </div>
        <div id="theatre">
            <section id="theatre-stage" class="grid">
                <ul class="e__list-big">
                    <li class="e__list-big-element">
                        <div class="e__list-big-element-frontside">
                            <div class="e__list-big-element-head"><h3>Sausalitos</h3></div>
                            <div class="e__list-big-element-body">
                                <div class="e__list-big-element-body-main"></div>
                                <div class="e__list-big-element-body-expand"></div>
                            </div>
                            <div class="e__list-big-element-footer"></div>
                        </div>
                        <div class="e__list-big-element-backside">
                            <p>Alternative Bar wählen</p>
                        </div>
                    </li>
                    <li class="e__list-big-element">
                        <div class="e__list-big-element-frontside">
                            <div class="e__list-big-element-head"><h3>Sausalitos</h3></div>
                            <div class="e__list-big-element-body">
                                <div class="e__list-big-element-body-main"></div>
                                <div class="e__list-big-element-body-expand"></div>
                            </div>
                            <div class="e__list-big-element-footer"></div>
                        </div>
                        <div class="e__list-big-element-backside">
                            <p>Alternative Bar wählen</p>
                        </div>
                    </li>
                    <li class="e__list-big-element">
                        <div class="e__list-big-element-frontside">
                            <div class="e__list-big-element-head"><h3>Sausalitos</h3></div>
                            <div class="e__list-big-element-body">
                                <div class="e__list-big-element-body-main"></div>
                                <div class="e__list-big-element-body-expand"></div>
                            </div>
                            <div class="e__list-big-element-footer"></div>
                        </div>
                        <div class="e__list-big-element-backside">
                            <p>Alternative Bar wählen</p>
                        </div>
                    </li>
                    <li class="e__list-big-element">
                        <div class="e__list-big-element-frontside">
                            <div class="e__list-big-element-head"><h3>Sausalitos</h3></div>
                            <div class="e__list-big-element-body">
                                <div class="e__list-big-element-body-main"></div>
                                <div class="e__list-big-element-body-expand"></div>
                            </div>
                            <div class="e__list-big-element-footer"></div>
                        </div>
                        <div class="e__list-big-element-backside">
                            <p>Alternative Bar wählen</p>
                        </div>
                    </li>
                    <li class="e__list-big-element">
                        <div class="e__list-big-element-frontside">
                            <div class="e__list-big-element-head"><h3>Sausalitos</h3></div>
                            <div class="e__list-big-element-body">
                                <div class="e__list-big-element-body-main"></div>
                                <div class="e__list-big-element-body-expand"></div>
                            </div>
                            <div class="e__list-big-element-footer"></div>
                        </div>
                        <div class="e__list-big-element-backside">
                            <p>Alternative Bar wählen</p>
                        </div>
                    </li>
                    <li class="e__list-big-element">
                        <div class="e__list-big-element-frontside">
                            <div class="e__list-big-element-head"><h3>Sausalitos</h3></div>
                            <div class="e__list-big-element-body">
                                <div class="e__list-big-element-body-main"></div>
                                <div class="e__list-big-element-body-expand"></div>
                            </div>
                            <div class="e__list-big-element-footer"></div>
                        </div>
                        <div class="e__list-big-element-backside">
                            <p>Alternative Bar wählen</p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <script type='application/javascript' src="js/main.js"></script>
</body>

</html>