<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go Happy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="apple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-ipad-retina.png">

    <!-- iPhone (Retina) -->
    <link rel="apple-touch-startup-image"  href="apple-touch-startup-image-640x960.png">

    <!--Android-->
    <link rel="shortcut icon" href="apple-touch-icon-196x196.png" sizes="196x196">
    
    <!--Windows Phone-->
    <meta name="msapplication-TileImage" content="apple-touch-icon-tile.png">
    <meta name="msapplication-TileColor" content="#3f51b5">

    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" href="favicon.ico" type="image/x-ico" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,100italic,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/fonts.css?v=0.1">
    <link rel="stylesheet" href="css/normalize.css?v=0.1">
    <link rel="stylesheet" href="css/grid.css?v=0.1">
    <link rel="stylesheet" href="css/helper.css?v=0.1">
    <link rel="stylesheet" href="css/elements.css?v=0.1">
    <link rel="stylesheet" href="css/style.css?v=0.1">
</head>

<body>
    <div id="startscreen">
    <div id="startscreen-icon" class="align-center">
        <img src="images/GoHappyButton5.png"/>
    </div>
    </div>
</body>