<div class="e__popup-overlay is__open">
    <div class="e__popup-window">
        <div class="e__popup-window-content">
            <h1>Ladevorgang</h1>
                <p>
                    Route wird geladen
                </p>
        </div>
        <div class="e__popup-window-button">
            
        </div>
    </div>
</div>
<div id="startscreen">
    <img ng-click="buttonClicked()" id="startscreen-icon" src="images/GoHappyButton5.png"/>
    <div id="startscreen-footer" class="align-center">
        <img src="images/thirdparty/powered_by_Foursquare.png"/>
    </div>
</div>