<div id="e__impressum" ng-class="{is__open: showImpressum}">
	<div id="e__impressum-header">
		<h1>Impressum</h1>
		<h1><a ng-click="showImpressum = false">Schließen</a></h1>
	</div>
	<div id="e__impressum-content">
		<h1>Impressum:</h1>
		<p>------------------------------------------------------------------------------------------</p>
		<p>Alle Angaben gemäß § 5 Telemediengesetz:<br>
		Robert Schütte<br>
		c/o Kurs WI2012F DHBW Stuttgart <br>
		Forststraße 202<br>
		70193 Stuttgart<br>
		Kontakt:<br>
		Telefon:		0176 47785623<br>
		E-Mail:		stg.wwi2012f [@] gmail . com</p>

		------------------------------------------------------------------------------------------<br>


		<h2>RECHTLICHE HINWEISE</h2>

		<h3>HAFTUNG FÜR INHALTE</h3>
		<p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
		Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,           übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von                       Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von                     entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

		<h3>HAFTUNG FÜR LINKS</h3>
		<p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

		<h3>URHEBERRECHT</h3>
		<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
		<p>QUELLE: <a href="http://www.e-recht24.de">http://www.e-recht24.de</a></p>

		------------------------------------------------------------------------------------------<br>
		<h2>DATENSCHUTZ</h2>

		Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
		<p>QUELLE: <a href="http://www.e-recht24.de">http://www.e-recht24.de</a></p>

		<h3>DATENSCHUTZERKLÄRUNG FÜR DIE NUTZUNG VON Foursquare</h3> 
		<p>Diese Webseite nutzt die Foursquare®®-Programmierschnittstelle (Application Progamming Interface, API), wird aber von Foursquare Labs, Inc. weder bestätigt noch unterstützt. Alle Foursquare®-Logos (einschließlich Badges) und Markenzeichen, die auf dieser Webseite dargestellt sind, sind das Eigentum von Foursquare Labs, Inc.</p>

		<img src="https://ss0.4sqi.net/img/poweredByFoursquare/poweredby-one-color-cdf070cc7ae72b3f482cf2d075a74c8c.png">

		<p>(Logo: https://de.foursquare.com/legal/api/trademarkusage und weitere Infos dazu)</p>

		<h2>Quelle der Icon Packs</h2>
		<div>Icon made by <a href="http://www.google.com" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
		<div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
		<h2>Danksagung</h2>
		<p>Herzlichen Dank an die LG Electronics Inc. und die ASUSTek Computer Inc. für die Zuverfügungstellung der Testgeräte.</p>
	</div>
	</div>
</div>

<div id="overlay-loader" class="e__overlay" ng-class="{is__open: showLoading}">
    <div class="e__overlay-stage">
        <div class="e__spinner">
            <h1>Laden </h1>

            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>

<div class="e__overlay" ng-class="{is__open: reportPopupOpen}">
    <div class="e__overlay-window">
        <div class="e__overlay-window-content">
            <h1 class="notification">Bar melden</h1>
                <p>
                    Bitte geben Sie eine Begründung ein
                    <form><textarea ng-model="reportBarText"></textarea></form>
                </p>
        </div>
        <div class="e__overlay-window-button">
            <div class="e__btn col-6" ng-click="reportPopupOpen = false">Abbrechen</div>
            <div class="e__btn col-6" ng-click="reportBar(reportBarId, reportBarText); reportPopupOpen = false">Absenden</div>
        </div>
    </div>
</div>

<div class="e__overlay" ng-class="{is__open: namePopupOpen}" ng-init="routeName = route.name">
	<div class="e__overlay-window">
        <div class="e__overlay-window-content">
			<h1 class="notification">Bitte Routennamen eingeben</h1>
			<p>
				<form><input type="text" ng-model="routeName"></form>
			</p>
		</div>
		<div class="e__overlay-window-button">
			<div class="e__btn col-6" ng-click="namePopupOpen = false">Abbrechen</div>
			<div class="e__btn col-6" ng-click="saveRoute()">Speichern</div>
		</div>
	</div>
</div>

<div class="e__overlay" ng-class="{is__open: saveErrorPopupOpen}">
	<div class="e__overlay-window">
        <div class="e__overlay-window-content">
			<h1 class="error">Maximale Anzahl erreicht!</h1>
			<p>Lösche zuerst lokale Routen um neue hinzufügen zu können</p>
		</div>
		<div class="e__overlay-window-button">
			<div class="e__btn col-12" ng-click="saveErrorPopupOpen = false">Ok</div>
		</div>
	</div>
</div>

<div class="e__overlay" ng-class="{is__open: sharePopupOpen}">
	<div class="e__overlay-window">
        <div class="e__overlay-window-content">
			<h1 class="notification">Link</h1>
				<p>
					Folgenden Link weitergeben
					<form><input type="text" ng-model="shareLink"></form>
				</p>
		</div>
		<div class="e__overlay-window-button">
			<div class="e__btn col-6" ng-click="sharePopupOpen = false">Abbrechen</div>
			<div class="e__btn col-6">Kopieren</div>
		</div>
	</div>
</div>

<div id="main" class="clearfix" ng-class="{'sidebar-is-open': isSidebarOpen}">
	<aside id="sidebar">
		<div id="sidebar-head-topbar">
			<div class="sidebar-head-topbar-box">
				<span class="i-f__options"></span>
				<h1 id="sidebar-head-topbar-title">Optionen</h1>
			</div>
		</div>
		
		<div id="sidebar-theatre">
			<div class="sidebar-theatre-box">
			
				<h3>Ort / Plz</h3>
				<br>
				<div class="col-11">
					<input-places options="" result="route.options.location" />
				</div>
				<div class="col-1 align-right">
					<a ng-click="setLocationToDevice()" class="e__btn i-f__maps" id="location"></a>
				</div>
			</div>
			<div class="sidebar-theatre-box">
				<h3>Tag</h3><br>
				<input-day result="route.options.weekday" />
			</div>
			<div class="sidebar-theatre-box">
				<h3>Radius (km)</h3>
				<input-slider options="{min:0.1, max:10, step:0.1, from:1, hide_min_max:true}" result="route.options.radius" />
			</div>
			<div class="sidebar-theatre-box">
				<h3>Uhrzeit (h)</h3>
				<input-slider options="{type:'double', values: ['13:00', '14:00', '15:00', '16:00', '17:00', '18:00','19:00','20:00','21:00','22:00','23:00','24:00','01:00','02:00','03:00','04:00','05:00','06:00','07:00', '08:00','09:00','10:00','11:00'], from:8, to:15, hide_min_max:true}" result="routeTime" />
			</div>
			<div class="sidebar-theatre-box">
				<h3>Verweilzeit (h)</h3>
				<input-slider options="{min:0, max:6, step:0.5, from:1, hide_min_max:true}" result="route.options.stayTime" />
			</div>
			<div class="seperator"></div>
			<div ng-click="shareRoute()" class="sidebar-theatre-box">
					<span class="i-f__star"></span><span class="i-f-label">Sharen</span>
			</div>
			<div class="seperator"></div>
			<div ng-click="namePopupOpen = true" class="sidebar-theatre-box">
				<span class="i-f__download"></span><span class="i-f-label">Offline speichern</span>
			</div>
			<div class="seperator"></div>
			<div ng-click="showImpressum = true" class="sidebar-theatre-box">
				<span class="i-f__impressum"></span><span class="i-f-label">Impressum</span>
			</div>
			<div class="seperator"></div>
		</div>
	</aside>
	<div id="theatre-head" class="grid">
		<div id="theatre-head-topbar" class="grid">
			<div class="col-3 col-xs-2_5">
				<span ng-click="isSidebarOpen = !isSidebarOpen" class="i__hamburger e__btn">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</span>
			</div>
			<div class="col-6">
				<h1 id="theatre-head-topbar-title" class="i-f__gohappylogo"></h1>
			</div>
			<div class="col-0_5 col-xs-0"></div>
			<div id="theatre-head-topbar-icons" class="col-3 col-xs-3_5 align-center">
				<div class="col-6">
					<a ng-click="reloadRoute()" class="e__btn i-f__reload"></a>
				</div>
				<div class="col-6">
					<a ng-href="#/currentRouteMap" class="e__btn i-f__maps"></a>
				</div>
			</div>
		</div>
		<nav id="theatre-head-subbar" class="col-12">
			<ul class="e__navigation-vertical clearfix">
				<li class="e__navigation-vertical-element col-5"><a class="active" ng-href="#/currentRoute">Aktuelle Route</a></li>
				<li class="e__navigation-vertical-element col-2"><a ng-href="#/topRoutes">Top 7</a></li>
				<li class="e__navigation-vertical-element col-5"><a ng-href="#/localRoutes">Offline Routen</a></li>
			</ul>
		</nav>
	</div>
	<div id="theatre">
		
		<section id="theatre-recentroute" class="grid">		
			<ul ng-init="frameClicked" class="e__list-big">
				<li ng-repeat="timeframe in route.timeframes" ng-class="{is__expanded : $parent.openFrameIndex === $index, is__backside : toDelete, is__switchside : timeframe.bar === null}" class="e__list-big-element clearfix">
					<div class="e__list-big-element-frontside e__barcard" ng-click="frameClicked($index)" ng-swipe-left="toDelete = true; frameClicked(-1)" ng-style="{'background-image': 'url(images/bars/{{$index+1}}.jpg)'}">
						<div class="e__list-big-element-frontside-head e__barcard-head grid">
							<div class="col-7"><a ng-click="toDelete = true" class="when__expanded__show i__close"></a><h3><span class="when__expanded__hidden">{{$index+1}}. </span>{{timeframe.bar.name}}</h3></div>
							<span class="col-5 align-right timeslot">{{timeframe.startTime}} - {{timeframe.endTime}}</span>
						</div>
						<div class="e__list-big-element-frontside-body e__barcard-body clearfix">
							<div class="e__list-big-element-frontside-body-main">
								<div ng-show="timeframe.bar.happyHours.length > 0">
									<h4>Happy Hour</h4>
									<div ng-repeat="happyHour in timeframe.bar.happyHours" class="padding-default">
										{{happyHour.days | formatDays}} {{happyHour | formatTime}}<br>
										<strong>{{happyHour.description}}</strong>
									</div>
								</div>
							</div>
							<div class="e__list-big-element-frontside-body-expand grid when__expanded__show">
								<p class="e__quote">{{timeframe.bar.description}}</p>
								<div class="col-8">
								<h4>Öffnungszeiten</h4>
								<span ng-repeat="openingTime in timeframe.bar.openingTimes" >
									<p>{{openingTime.days | formatDays}}<br>{{openingTime | formatTime}}</p>
								</span>
							</div>
								<div class="col-4 align-center">
									<!--<map markers="[timeframe.bar]" options="{alterable: false, centerLocation: timeframe.bar.location}"></map>-->
									<div class="e__barcard-body-map" ng-style="{background: 'url(http://maps.googleapis.com/maps/api/staticmap?center={{timeframe.bar.location.latitude}},{{timeframe.bar.location.longitude}}&zoom=13&size=440x376&markers={{timeframe.bar.location.latitude}},{{timeframe.bar.location.longitude}}) center center'}"></div>

									<div class="e__btn e__btn-danger e__barcard-body-btn-melden" ng-click="$parent.reportPopupOpen = true; $parent.reportBarId = timeframe.bar.id; $event.stopPropagation()">Melden</div>
								</div>
							</div>
						</div>
						<div class="e__list-big-element-frontside-footer e__barcard-footer">
							<span class="col-4 e__rating"><rating type="'euro'" value="timeframe.bar.costs"></span>
							<span class="col-2"></span>
							<span class="col-6 align-right e__rating"><rating type="'star'" value="timeframe.bar.rating"></span>
						</div>
					</div>
					<div ng-click="timeframe.bar = null; toDelete = false" ng-swipe-right="toDelete = false" class="e__list-big-element-backside grid">
						<div class="col-12 align-center e__list-big-element-backside-content">
							<span class="i-f__reload2"></span>
							<p class="icon-undertitle">Bar austauschen</p>
						</div>
					</div>
					<div class="e__list-big-element-switchside">
						<div class="e__slider grid">
							<div class="e__slider-background padding-default">
								<div class="col-7"></div>
								<span class="col-5 align-right e__slider-background-text">{{timeframe.startTime}} - {{timeframe.endTime}}</span>

								<span class="e__slider-background-footer align-center">Wählen Sie eine alternative Bar aus</span>
							</div>

							<bar-slider bars="bars[$index]" result="barChosen[$index]">
						</div>
					</div>
				</li>
				
			</ul>
		</section>

	</div>
</div>