<input type="checkbox" id="is__sidebar-open" class="hidden" aria-hidden="true"/>
<div id="main" class="clearfix">
    <aside id="sidebar">
		<div id="sidebar-head-topbar">
			<div class="sidebar-head-topbar-box">
				<span class="i-f__options"></span>
				<h1 id="sidebar-head-topbar-title">Optionen</h1>
			</div>
		</div>
		
		<div id="sidebar-theatre">
			<div class="sidebar-theatre-box">
			
					<h3>Ort / Plz</h3>
					<input type="form" />
			</div>
			<div class="sidebar-theatre-box">
					<h3>Tag</h3><br>
					<div class="col-1"><h4>&lt;</h4></div>
					<div class="col-10" style="text-align:center;"><h4 style="color: #fff">Montag</h4></div>
					<div class="1" style="text-align:right;"><h4>&gt;</h4></div>
			</div>
			<div class="sidebar-theatre-box">
					<h3>Radius</h3>
					<input id="radius"/>
			</div>
			<div class="sidebar-theatre-box">
					<h3>Uhrzeit</h3>
					<input id="time"/>
			</div>
			<div class="sidebar-theatre-box">
					<h3>Verweilzeit</h3>
					<input id="resttime"/>
			</div>
			<div class="seperator"></div>
			<div class="sidebar-theatre-box">
					<span class="i-f__star"></span><h3>Sharen</h3>
			</div>
			<div class="seperator"></div>
			<div ng-click="saveRoute()" class="sidebar-theatre-box">
				<span class="i-f__download"></span><h3>Offline speichern</h3>
			</div>
			<div class="seperator"></div>
		</div>
	</aside>
    <div id="theatre-head" class="grid">
        <div id="theatre-head-topbar" class="grid">
            <div class="col-2 col-xs-2_5">
                <label for="is__sidebar-open" class="i__hamburger e__btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </label>
            </div>
            <div class="col-5 col-xs-5_5">
                <h1 id="theatre-head-topbar-title" class="i-f__gohappylogo"></h1>
            </div>
            <div id="theatre-head-topbar-icons" class="col-4  align-center">
                <div class="col-6">
                    <a href="#refresh" class="e__btn i-f__reload"></a>
                </div>
                <div class="col-6">
                    <a href="#map" class="e__btn i-f__maps"></a>
                </div>
            </div>
        </div>
        <nav id="theatre-head-subbar" class="col-12">
            <ul class="e__navigation-vertical clearfix">
                <li class="e__navigation-vertical-element col-5"><a href="#refresh">Aktuelle Route</a></li>
                <li class="e__navigation-vertical-element col-2"><a href="#refresh">Top 7</a></li>
                <li class="e__navigation-vertical-element col-5"><a ng-href="#/localRoutes">Offline Routen</a></li>
            </ul>
        </nav>
    </div>
    <div id="theatre">
		
		<section id="theatre-recentroute" class="grid">			
            <ul ng-init="frameClicked" class="e__list-big">
                <li ng-repeat="timeframe in route.timeframes" ng-click="frameClicked($index)" ng-class="{is__expanded : $parent.openFrameIndex === $index}" class="e__list-big-element clearfix">
					<div ng-init="bar = timeframe.bar" class="e__list-big-element-frontside">
                        <div class="e__list-big-element-head grid">
							<div class="col-7"><a class="when__expanded__show i__close"></a><h3><span class="when__expanded__hidden">{{$index+1}}. </span>{{bar.name}}</h3></div>
							<span class="col-5 align-right timeslot">{{timeframe.startTime}} - {{timeframe.endTime}}</span>
						</div>
                        <div class="e__list-big-element-body clearfix">
                            <div class="e__list-big-element-body-main">
								<h4>Happy Hour</h4>
									<div ng-repeat="happyHour in bar.happyHours" class="padding-default">
									{{happyHour.days | formatDays}} {{happyHour | formatTime}}<br>
									<strong>{{happyHour.description}}</strong>
									</div>
							</div>
                            <div class="e__list-big-element-body-expand grid when__expanded__show">
								<div class="col-8">
								<p class="e__quote">{{bar.description}}</p>
								<h4>Öffnungszeiten</h4>
								<table class="e__table grid">
									<tbody>
									<tr ng-repeat="openingTime in bar.openingTimes" >
										<td class="col-5">{{openingTime.days | formatDays}}</td>
										<td  class="col-7">{{openingTime | formatTime}}</td>
									</tr>
									</tbody>
								</table>
							</div>
								<div class="col-4">
									<div class="map" style="background:url('images/_dummy_map.png')">
									</div>
								</div>
							</div>
                        </div>
                        <div class="e__list-big-element-footer">
							<span class="col-5"><rating type="'euro'" value="bar.costs"></span>
							<span class="col-2"></span>
							<span class="col-5 align-right"><rating type="'star'" value="bar.rating"></span>
						</div>
                    </div>
                    <div class="e__list-big-element-backside">
                        <p>Alternative Bar wählen</p>
                    </div>
                </li>
                
			</ul>
		</section>

    </div>
</div>